{% extends "navbar.html" %}

{% block content %}

<div class="container" style="padding-top: 105px;">
    <div class="row mx-0 justify-content-center">
        <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
            <form method="POST" action="/upload" class="w-100 rounded-1 p-4 border bg-white" enctype="multipart/form-data">
                <label class="d-block mb-4">
                    <span class="form-label d-block">Your PCAP File: </span>
                    <input required name="pcap_file" type="file" class="form-control" />
                </label>
            
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary px-3 rounded-3">
                        Upload PCAP File
                    </button>
                </div>
            
                <div class="d-block text-end">
                    <div class="small">
                        File size is limited to <= 400MB
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
